/* CSS de Virginie */

.unige-entete {
    background: #d80669;
    margin-bottom: 30px;
    width: 100%;
    height: 80px;
    padding: 14px 0 0;
}

.contenu-entete {
    text-align: right;
    float: right;
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding-top: 10px;
}